<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyj.Mapper.UserMapper">
    
    <insert id="insert" parameterType="user">
        insert into users
        values (null,#{username},#{nickname},#{password},#{mobile},#{email},#{address});
    </insert>

    <update id="update" parameterType="user">
        update users
        set username=#{username},nickname=#{nickname},password=#{password},mobile=#{mobile},email=#{email},address=#{address}
        where userId=#{userId};
    </update>

    <delete id="delete" parameterType="int">
        delete from users
        where userId=#{userId}
    </delete>

    <select id="findAll" resultType="user">
        select * from users;
    </select>

    <select id="findById" parameterType="int" resultType="user">
        select * from users
        where userId=#{userId};
    </select>

    <select id="findByUsername" parameterType="string" resultType="user">
        select * from users
        where username=#{username};
    </select>

    <select id="findByNickname" parameterType="string" resultType="user">
        select * from users
        where nickname=#{nickname};
    </select>

    <select id="findByPassword" parameterType="string" resultType="user">
        select * from users
        where password=#{password};
    </select>

    <select id="findByMobile" parameterType="string" resultType="user">
        select * from users
        where mobile=#{mobile};
    </select>

    <select id="findByEmail" parameterType="string" resultType="user">
        select * from users
        where email=#{email};
    </select>

    <select id="findByAddress" parameterType="string" resultType="user">
        select * from users
        where address=#{address};
    </select>
</mapper>